trigger:
- main

pool:
  vmImage: ubuntu-latest

steps:
- task: NodeTool@0
  inputs:
    versionSpec: '16.x'
  displayName: 'Install Node.js'

- script: |
    npm ci
  condition: succeededOrFailed()
  displayName: 'clean install'

- script: npm run test
  condition: succeededOrFailed()  
  displayName: Unit Test 

- script: |
    ng build --prod
  displayName: 'build project'
